@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Fredoka", sans-serif; */
  font-family: "initial";
  font-optical-sizing: auto;
  font-weight: 500; /* Replace <weight> with a valid value, e.g., 400 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  list-style-type: none !important;
  text-decoration: none !important;
}
html {
  scroll-behavior: smooth;
}
